* {
  font-family: 'Arvo', serif;
}

body {
  margin: 0;
  animation: fadein 2s;
}
.bold-text {
  font-weight: 600;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Home {
  font-weight: 200;
  .bio {
    color: #3a5052;
    text-align: center;
    background-color: #b9d68a;
    padding: 148px 20px;
    img {
      display: block;
      width: 140px;
      border-radius: 50%;
      margin: 0 auto;
      border: 2px solid #ffffff;
    }
    h2 {
      margin: 19px 0 16px 0;
      font-size: 55px;
      font-weight: 400;
      @media (max-width: 768px) {
        font-size: 37px;
        span {
          padding: 10px 58px;
        }
      }
      span {
        border-radius: 15px;
      }
    }
    h5 {
      margin: 15px 0;
      font-size: 20px;
      font-weight: 300;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
    }
  }
  .site-section {
    color: #2f2e2e;
    padding: 99px 20px;
    h1 {
      font-weight: 600;
      font-size: 35px;
      @media (max-width: 768px) {
        font-size: 29px;
      }
    }
    .section-inner {
      max-width: 684px;
      margin: 0 auto;
      p {
        font-size: 19px;
        line-height: 29px;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .how-i-do {
    background-color: #e8ebf2;
    color: #504f4f;
    text-align: center;
  }
  .skillz {
    background-color: #142b37;
    color: #acc8d8;
    text-align: center;
  }
  .projects-section {
    padding: 40px 20px 0px;
    text-align: center;
    color: #484747;
    h1 {
      font-weight: 600;
      font-size: 35px;
      @media (max-width: 768px) {
        font-size: 29px;
      }
    }
    .projects-section-item {
      max-width: 760px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 10px;
      @media (max-width: 768px) {
        margin-bottom: 14px;
      }
      h3 {
        font-size: 25px;
        margin: 17px 0;
        @media (max-width: 768px) {
          font-size: 23px;
        }
      }
      &.arc-image {
        img {
          width: auto;
        }
      }
      img {
        max-height: 250px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 3px;
        &.max-width {
          max-width: 320px;
        }
      }
      .projects-section-item-inner {
        padding: 2px 5px;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        h5 {
          font-size: 17px;
          margin: 24px 0;
        }
        p.project-overview {
          font-size: 17px;
          line-height: 29px;
        }
        p.skills-used {
          font-size: 17px;
        }
      }
    }
  }
  .codepens-section {
    text-align: center;
    padding: 70px 30px 20px;
    text-align: center;
    background-color: #f3c863;
    h1 {
      font-weight: 600;
      font-size: 35px;
      @media (max-width: 768px) {
        font-size: 29px;
      }
    }
    .codepens-header {
      margin-bottom: 80px;
      color: #67501a;
    }
    .codepen-item {
      margin: 30px auto 50px;
      max-width: 920px;
      .codepen-item-header {
        background-color: #ffe7b0;
        color: #b58d2f;
        border-radius: 3px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 3px 30px;
        h2 {
          font-size: 23px;
          margin: 8px 0;
        }
        h5 {
          font-size: 15px;
          margin: 8px 0;
        }
      }
      iframe {
        width: 100%;
      }
    }
  }
  .credits-section {
    background-color: #2b2424;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    span {
      color: #fff;
      font-size: 13px;
      margin-left: .5rem;
    }
  }
}
